DB_HOST=mysql
DB_PORT=3306
DB_NAME=smartcity
DB_ROOT_PASSWORD=SmartCity@Root#2026
DB_USER=smartcity_app
DB_PASSWORD=SmartCity@App#2026

JWT_SECRET=SmartCity@JWT#Secret_Jakarta2026!
JWT_EXPIRES_IN=3600
OAUTH_CLIENT_ID=smartcity_client
OAUTH_CLIENT_SECRET=SmartCity@OAuth#2024

CITIZEN_SERVICE_URL=http://citizen-service:8000
TRAFFIC_SERVICE_URL=http://traffic-service:8001
PARKING_SERVICE_URL=http://parking-service:8002
PYTHON_ML_URL=http://python-ml:5000

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=smartcity
RABBITMQ_PASS=SmartCity@Rabbit#2026

MQTT_BROKER=mosquitto
MQTT_PORT=1883
MQTT_USER=iot_device
MQTT_PASS=SmartCity@MQTT#2026